@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #242423;
  --foreground: #dddddd;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Mabry Pro, Avenir, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
